<h2> Discount for <%= @merchant.name %> </h2>

<ol><% @discounts.each do |discount| %>
  <div class="discount-<%= discount.id %>">
    <li><%= link_to "View this Discount", merchant_discount_path(@merchant.id, discount.id) %><br>
    Item Requirement: <%= discount.item_requirement %><br>
    Discount Percent <%= discount.format_percent%>%<br>
    <%= button_to "Delete Discount", merchant_discount_path(@merchant.id, discount.id), method: :delete %></li><br>
  </div>
<% end %></ol>

<h4> <%= link_to "Create New Discount", "/merchant/#{@merchant.id}/discounts/new" %> </h4>